<div class="text-center padded features">
  <img src="images/globe.png" alt="">
  <h2>Discover the world</h2>
  <p>The earth is your new home.</p>
  <img src="images/dollar.png" alt="">
  <h2>Pay online</h2>
  <p>No cash issues anymore.</p>
  <img src="images/beer.png" alt="">
  <h2>Meet people</h2>
  <p>Discover new culture and lifestyle.</p>
  <img src="images/heart.png" alt="">
  <h2>Discover new culture and lifestyle.</h2>
  <p>Join a community you will love.</p>
</div>
