<div id="footer">
  <footer>
  <ul class="list-inline">
    <li><a href="" class="fa fa-facebook "></a></li>
    <li><a href="" class="fa fa-youtube"></a></li>
    <li><a href="" class="fa fa-instagram"></a></li>
    <li><a href="" class="fa fa-twitter"></a></li>
  </ul>
  <p>This is a Airbnb Home challenge @ LeWagon</p>
  </footer>
</div>
