<div class="text-center padded" id="newsletter">
    <h2>Get news from us</h2>
    <p>Leave us your mail and get news from us</p>
    <form class="form-inline">
      <input type="email" placeholder="your@email.com"class="form-control">
      <input type="submit" value="Suscribe" class="btn btn-primary btn-bordered btn-bordered-primary">
    </form>
</div>
