
  <!-- Your banner code -->
  <div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/background.jpg');">
    <div class="banner-content" >
      <h1>WELCOME HOME</h1>
      <p>Rent unique places to stay from local hosts in 190+ countries.</p>
      <a class="btn btn-primary btn-lg">How it works</a>
    </div>
  </div>

  <!-- Your newsletter code -->

  <%= partial "team" %>

  <!-- Your newsletter code -->

  <%= partial "newsletters" %>

  <!-- Your newsletter features -->

  <%= partial "features" %>



